.list-container {
  margin: 10px 0;
  box-sizing: border-box;
  width: 422px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  background: rgb(250, 250, 250);
  box-shadow: 1px 1px 2px rgb(185, 185, 185);
  border-radius: 5px;
}

.task-container {
  flex-direction: column;
  display: flex;
  flex: 6;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  flex: 2;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  flex: 4;
}

.btn-edit {
  font-family: 'Nunito', sans-serif;
  padding: 9px;
  width: 45px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  background: rgb(146, 237, 243);
  box-shadow: 1px 2px 3px rgb(228, 228, 228);
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.btn-delete {
  font-family: 'Nunito', sans-serif;
  padding: 9px;
  width: 45px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  background: rgb(255, 150, 164);
  box-shadow: 1px 2px 5px rgb(214, 214, 214);
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.btn-edit:hover {
  background: rgb(143, 232, 238);
}

.btn-edit:active {
  background: rgb(139, 223, 229);
}


.btn-delete:hover {
  background: rgb(253, 143, 158);
}

.btn-delete:active {
  background: rgb(255, 129, 146);
}

.btn-update {
  font-family: 'Nunito', sans-serif;
  padding: 9px;
  width: 45px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  background: rgb(128, 229, 158);
  box-shadow: 1px 2px 5px rgb(214, 214, 214);
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.btn-update:hover {
  background: rgb(97, 231, 137);
}

.btn-update:active {
  background: rgb(58, 230, 109);
}

.btn-cancel {
  font-family: 'Nunito', sans-serif;
  padding: 9px;
  width: 45px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  background: rgb(226, 180, 110);
  box-shadow: 1px 2px 5px rgb(214, 214, 214);
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.btn-cancel:hover {
  background: rgb(233, 164, 85);
}

.btn-cancel:active {
  background: rgb(233, 153, 62);
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.input-update {
  font-family: 'Nunito', sans-serif;
  width: 176.78px;
  height: 31.2px;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0;
  border: none;
}

.input-update:focus {
  outline: none;
}

span {
  font-size: 23px;
  font-weight: 600;
}

.timeStamps {
  font-size: 12px;
  margin-top: 12px;
  color: rgb(107, 107, 107);
}
