.navbar-container {
    width: 100vw;
    height: 70px;
    background: rgb(32, 32, 32);
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

span {
    font-size: 45px;
    font-weight: 600;
    color: wheat;
}

button {
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 7px;
    background: rgb(255, 32, 32);
    font-size: 23px;
    cursor: pointer;
    font-weight: 600;
    color: wheat;
    box-shadow: 2px 2px rgb(95, 95, 95);
}

button:hover {
    background: rgb(238, 85, 85);
}

button:active {
    background: rgb(255, 32, 32);
}