.navbar-container {
    width: 100vw;
    height: 70px;
    background: rgb(32, 32, 32);
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

span {
    font-size: 45px;
    font-weight: 600;
    color: rgb(255, 248, 236);
}

button {
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 4px;
    background: rgb(255, 32, 32);
    font-size: 23px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(255, 248, 235);
    font-family: 'Nunito', sans-serif;
    box-shadow: 1px 2px 2px rgb(255, 22, 22);
}

button:hover {
    background: rgb(251, 18, 18);
}

button:active {
    background: rgb(255, 32, 32);
}